body{
  margin: 0;
  padding: 0;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
}

.slider{
  margin: 0;
  padding: 0;
  position: relative;
  background: #16000000;
  width: 1000px;
  margin: 20px;
  /* box-shadow: 12px 12px 2px 1px rgba(240, 230, 230, 0.35); */
}

.slider .slide{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
  margin: 0;
  padding: 0;
  clip-path: circle(150% at 0 50%);
  transition: 2s;
}

.slider .slide img{
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider .slide .info{
  margin: 0;
  padding: 0;
  position: absolute;
  color: #dcd9d9;
  background: rgba(249, 237, 237, 0.3);
  width: 75%;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 5px;
}

.slider .slide .info h2{
  margin: 0;
  padding: 0;
  font-size: 3em;
  font-weight: 800;
}

.slider .slide .info p{
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}

.nav{
  margin: 0;
  padding: 0;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider:hover .nav{
  margin: 0;
  padding: 0;
  opacity: 1;
}

.prev-btn, .next-btn{
  margin: 0;
  padding: 0;
  z-index: 5;
  font-size: 1em;
  color: #222;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  cursor: pointer;
}

.prev-btn{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.next-btn{
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nav-visibility{
  margin: 0;
  padding: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
}

.nav-visibility .slide-icon{
  margin: 0;
  padding: 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.5);
  width: 20px;
  height: 10px;
  transform: translateY(-50px);
  margin: 0 6px;
  border-radius: 2px;
}

.nav-visibility .slide-icon.active{
  background: #5472b4;
}

@media (max-width: 500px){

  .slider{
    width: 100%;
  }

  .slider .slide .info{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider .slide .info h2{
    font-size: 1.8em;
    line-height: 40px;
  }

  .slider .slide .info p{
    font-size: 0.9em;
  }

}